<div class="center hero-unit">
	<h1>Welcome to the Sample App</h1>
	<h2>
  	  This is the home page for the
  	  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
 	   sample application.
       </h2>
       <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "rails"), 'http://rubyonrails.org/' %>

<div id = "background">
	<div id = "leftField">
		<p id = "leftName">name followed by image tag Limage</p>
		<div class = "image"></div>
		<div id = "Lstats"> 
			<p> some % and total votes </p>
		</div>
	</div>

	<div id = "rightField">
		<p id = "rightName">name followed by image tag Rimage</p>
		<div class = "image"></div>
		<div id = "Rstats"> 
			<p> some % and total votes </p>
		</div>
	</div>
</div>

