<h1> This page will actually be the matchup view (linked to matchup#number)</h1>
<div id = "background">
	<div id = "leftField">
		<p id = "leftName">name followed by image tag Limage</p>
		<div class = "image"></div>
		<div id = "Lstats"> 
			<p> some % and total votes </p>
		</div>
	</div>

	<div id = "rightField">
		<p id = "rightName">name followed by image tag Rimage</p>
		<div class = "image"></div>
		<div id = "Rstats"> 
			<p> some % and total votes </p>
		</div>
	</div>
</div>

