<footer class="footer">
	<small>
		<a href="http://www.Reddit.com">Or Reddit</a>
		for Jake Austin
	</small>
	<nav>
		<ul>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://www.buzzfeed.com">Buzzfeed?</a></li>
		</ul>
	</nav>
</footer>
